<div class = "row">
                <form id ="create-post-form">
                    Post Title
                    <input id="create-post-title" type="text"/>
                    Post Content
                    <textarea id="create-post-content"></textarea>
                    <button id="create-post-save">Save Post</button>
                </form>
            </div>
<script src="/js/post.js"></script>