{{#if Posts}}
{{#each Posts as |post| }}
<div class = "row">
                <div class="card">
                    <h5 class="card-header">{{post.title}}</h5>
                    <div class="card-body">
                      <p class="card-text">{{post.body}}</p>
                      <a href="/blogs/{{post.id}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                    <a href="/edit-post/{{post.id}}">Edit Post</a>
                      </div>
                  </div>
            </div>
{{/each}}
{{/if}}
<div class="row">
                      <a id="add-post-link" href="create-blog">Add Post</href>
                  </div>